.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    text-align: center;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .expanded-content {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .shown {
    display: block;
  }

  .not-shown{
      display: none;
  }
